<!doctype html>
<head>
	<link href="static/stylesheets/main.css" rel="stylesheet">
	<script type="text/javascript" src="static/javascripts/Blocker.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Brain.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Bullet.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Character.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Electrode.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Tank.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Enforcer.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Family.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Grunt.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Level.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Quark.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Sphereoid.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Player.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Sprite.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/Robotron.js" charset="UTF-8"></script>
	<script type="text/javascript" src="static/javascripts/main.js" charset="UTF-8"></script>
</head>
<title>ROBOTRON 4168</title>
<body>
<!--
	<div id="title-test">
		{% if name %}
		<div id="name-test">
			{{name}}
		</div>
		{% endif %}
	</div>
-->
	<div id="debug"></div>
	<div id="game-wrapper">
		<div id="score-display"><img src="static/images/mock/score_display.png" width="584" height="26"/></div>
		<div id="footer-display"><img src="static/images/mock/footer_display.png" width="584" height="17"/></div>
		<canvas id="game-canvas"></canvas>
	</div>
</body>
